---
import { SITE_CONFIG } from '~/utils/config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-4xl font-bold text-green-600 whitespace-nowrap dark:text-white"
>
  {SITE_CONFIG?.name}
</span>
